<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   UOBLocations.plist
   iUOB 2

   Created by Miqdad Altaitoon on 9/14/16.
   Copyright (c) 2016 Miqdad Altaitoon. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    <key>Locations</key>
    <array>
        <dict>
            <key>Title</key>
            <string>S40</string>
            <key>Description</key>
            <string>IT College</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.047918</string>
            <key>Longitude</key>
            <string>50.509989</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>CS Department</string>
            <key>Description</key>
            <string>Computer Science</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.047903</string>
            <key>Longitude</key>
            <string>50.510153</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>CE Department</string>
            <key>Description</key>
            <string>Computer Engineering</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.047486</string>
            <key>Longitude</key>
            <string>50.51018</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>IS Department</string>
            <key>Description</key>
            <string>Information System</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.048315</string>
            <key>Longitude</key>
            <string>50.510174</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S47</string>
            <key>Description</key>
            <string>Library</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.049195</string>
            <key>Longitude</key>
            <string>50.509944</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S50</string>
            <key>Description</key>
            <string>College of IT auditorium</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.048161</string>
            <key>Longitude</key>
            <string>50.509407</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S51</string>
            <key>Description</key>
            <string>Food court</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.048513</string>
            <key>Longitude</key>
            <string>50.508991</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Boys Prayer</string>
            <key>Description</key>
            <string>مصلى الشباب</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.04839</string>
            <key>Longitude</key>
            <string>50.508863</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Girls Prayer</string>
            <key>Description</key>
            <string>مصلى البنات</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.048636</string>
            <key>Longitude</key>
            <string>50.509123</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S41</string>
            <key>Description</key>
            <string>College of Science</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.049544</string>
            <key>Longitude</key>
            <string>50.509227</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Chemistry Department</string>
            <key>Description</key>
            <string>Chemistry</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.049151</string>
            <key>Longitude</key>
            <string>50.508938</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Biology Department</string>
            <key>Description</key>
            <string>Biology</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.049568</string>
            <key>Longitude</key>
            <string>50.508895</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Physics Department</string>
            <key>Description</key>
            <string>Physics</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.049978</string>
            <key>Longitude</key>
            <string>50.508865</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S48</string>
            <key>Description</key>
            <string>Science building</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.0506</string>
            <key>Longitude</key>
            <string>50.508326</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S49</string>
            <key>Description</key>
            <string>Laboratory Services</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.05059</string>
            <key>Longitude</key>
            <string>50.507747</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S43</string>
            <key>Description</key>
            <string>UOB press</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.046595</string>
            <key>Longitude</key>
            <string>50.508087</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>West Gate</string>
            <key>Description</key>
            <string>البوابة الغربية</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.048012</string>
            <key>Longitude</key>
            <string>50.500544</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Bus Station</string>
            <key>Description</key>
            <string>محطة باصات المغادرة</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.048802</string>
            <key>Longitude</key>
            <string>50.512357</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Male Dorms</string>
            <key>Description</key>
            <string>سكن الطلاب</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.049992</string>
            <key>Longitude</key>
            <string>50.5124</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Female Dorms</string>
            <key>Description</key>
            <string>سكن الطالبات</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.050036</string>
            <key>Longitude</key>
            <string>50.514385</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Mosque</string>
            <key>Description</key>
            <string>UOB main mosque</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.051299</string>
            <key>Longitude</key>
            <string>50.512309</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S39</string>
            <key>Description</key>
            <string>College of Law</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.047308</string>
            <key>Longitude</key>
            <string>50.513382</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Prayer and Restrooms</string>
            <key>Description</key>
            <string>استراحة الحقوق</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.046855</string>
            <key>Longitude</key>
            <string>50.513371</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S37</string>
            <key>Description</key>
            <string>Registration</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.048426</string>
            <key>Longitude</key>
            <string>50.51336</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S38</string>
            <key>Description</key>
            <string>Swimming pool and GYM</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.049004</string>
            <key>Longitude</key>
            <string>50.513371</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Deanship of Student Affairs</string>
            <key>Description</key>
            <string>عمادة شؤون الطلبة</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.050123</string>
            <key>Longitude</key>
            <string>50.513366</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>G-2 S</string>
            <key>Description</key>
            <string>الصالة الرياضية</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.049891</string>
            <key>Longitude</key>
            <string>50.513355</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Food Court</string>
            <key>Description</key>
            <string></string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.050508</string>
            <key>Longitude</key>
            <string>50.51336</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Central Library</string>
            <key>Description</key>
            <string>المكتبة المركزية</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.051014</string>
            <key>Longitude</key>
            <string>50.513366</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Cafeteria Abu Ali</string>
            <key>Description</key>
            <string></string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.050735</string>
            <key>Longitude</key>
            <string>50.514009</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S21</string>
            <key>Description</key>
            <string>Computer engineering labs</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.048841</string>
            <key>Longitude</key>
            <string>50.51594</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S20-C</string>
            <key>Description</key>
            <string>College of Applied Studies</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.049164</string>
            <key>Longitude</key>
            <string>50.51651</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S20-B</string>
            <key>Description</key>
            <string>French Studies</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.049482</string>
            <key>Longitude</key>
            <string>50.516088</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S20-A</string>
            <key>Description</key>
            <string></string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.049966</string>
            <key>Longitude</key>
            <string>50.517413</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S20</string>
            <key>Description</key>
            <string>English language center</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.050077</string>
            <key>Longitude</key>
            <string>50.516831</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S22</string>
            <key>Description</key>
            <string>Bahrain Teachers College</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.050595</string>
            <key>Longitude</key>
            <string>50.515219</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S44</string>
            <key>Description</key>
            <string>Bahrain Credit Media Center</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.05105</string>
            <key>Longitude</key>
            <string>50.515415</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S45</string>
            <key>Description</key>
            <string>Zain e-Learning Center</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.052226</string>
            <key>Longitude</key>
            <string>50.515421</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S17</string>
            <key>Description</key>
            <string>English Language and Literature</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.052766</string>
            <key>Longitude</key>
            <string>50.515109</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S18</string>
            <key>Description</key>
            <string>Events Hall</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.053412</string>
            <key>Longitude</key>
            <string>50.51641</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Doctors Dorms</string>
            <key>Description</key>
            <string>سكن الدكاترة</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.054581</string>
            <key>Longitude</key>
            <string>50.513548</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Aswaq Mosa</string>
            <key>Description</key>
            <string>أسواق موسى</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.053265</string>
            <key>Longitude</key>
            <string>50.514222</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Book Shop</string>
            <key>Description</key>
            <string>
            </string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.053274</string>
            <key>Longitude</key>
            <string>50.513712</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S46</string>
            <key>Description</key>
            <string>Student Council</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.052301</string>
            <key>Longitude</key>
            <string>50.513983</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Hall of Sheikh Abdul Aziz</string>
            <key>Description</key>
            <string>قاعة الشيخ عبد العزيز</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.052214</string>
            <key>Longitude</key>
            <string>50.512741</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Administration</string>
            <key>Description</key>
            <string>مبنى الإدارة</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.052219</string>
            <key>Longitude</key>
            <string>50.513267</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S1B</string>
            <key>Description</key>
            <string>College of Business Administration</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.051896</string>
            <key>Longitude</key>
            <string>50.514251</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>S1A</string>
            <key>Description</key>
            <string>College of Arts</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.051352</string>
            <key>Longitude</key>
            <string>50.514257</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>East Gate</string>
            <key>Description</key>
            <string>البوابة الشرقية</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.055462</string>
            <key>Longitude</key>
            <string>50.517442</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Main Gate</string>
            <key>Description</key>
            <string>البوابة الرئيسية</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.058123</string>
            <key>Longitude</key>
            <string>50.508891</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>South Gate</string>
            <key>Description</key>
            <string>البوابة الجنوبية</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.03897</string>
            <key>Longitude</key>
            <string>50.505303</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>15</string>
            <key>Description</key>
            <string>Building 15</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.164187</string>
            <key>Longitude</key>
            <string>50.546899</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>27</string>
            <key>Description</key>
            <string>Building 27</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.165564</string>
            <key>Longitude</key>
            <string>50.544962</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>16</string>
            <key>Description</key>
            <string>Building 16</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.164399</string>
            <key>Longitude</key>
            <string>50.546105</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>12</string>
            <key>Description</key>
            <string>Building 12</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.166334</string>
            <key>Longitude</key>
            <string>50.545579</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Library</string>
            <key>Description</key>
            <string>
            </string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.165491</string>
            <key>Longitude</key>
            <string>50.546786</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Workshop</string>
            <key>Description</key>
            <string></string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.165939</string>
            <key>Longitude</key>
            <string>50.544291</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Mosque</string>
            <key>Description</key>
            <string></string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.165646</string>
            <key>Longitude</key>
            <string>50.547537</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>14</string>
            <key>Description</key>
            <string>Engineering Building</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.164846</string>
            <key>Longitude</key>
            <string>50.54758</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>13</string>
            <key>Description</key>
            <string>Workshop</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.165337</string>
            <key>Longitude</key>
            <string>50.547971</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>27A</string>
            <key>Description</key>
            <string>Building 27A</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.165776</string>
            <key>Longitude</key>
            <string>50.544496</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>28</string>
            <key>Description</key>
            <string>Building 28</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.166031</string>
            <key>Longitude</key>
            <string>50.54485</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Workshop</string>
            <key>Description</key>
            <string></string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.166283</string>
            <key>Longitude</key>
            <string>50.544206</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>33</string>
            <key>Description</key>
            <string>Building 33</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.166464</string>
            <key>Longitude</key>
            <string>50.544547</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>35</string>
            <key>Description</key>
            <string>Building 35</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.166707</string>
            <key>Longitude</key>
            <string>50.544362</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>32</string>
            <key>Description</key>
            <string>Building 32</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.166753</string>
            <key>Longitude</key>
            <string>50.545083</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>36</string>
            <key>Description</key>
            <string>Building 36</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.167061</string>
            <key>Longitude</key>
            <string>50.545011</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Bshayer</string>
            <key>Description</key>
            <string></string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.166486</string>
            <key>Longitude</key>
            <string>50.545392</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>31</string>
            <key>Description</key>
            <string>Building 31</string>
            <key>Location</key>
            <string>Sakheer</string>
            <key>Color</key>
            <string>Red</string>
            <key>Latitude</key>
            <string>26.166811</string>
            <key>Longitude</key>
            <string>50.545884</string>
        </dict>


        
        
    </array>
    
    </dict>
</plist>
